.contact-body {
  padding-top: 30px;
  height: 90%;
  width: 90%;
  margin: auto;
}

.text-center {
  margin-bottom: 30px;
}

.contact-header {
  font-size: 18px;
  font-weight: bold;
}

.contact-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.send-message-button {
  width: 20%;
  height: 6%;
  margin-left: 40%;
  margin-top: 2%;
}

#example-text {
  height: 250px;
}

#example-email {
  margin-bottom: 10px;
}
