.news-container {
  height: 100%;
  width: 100%;
}

.news-header {
  height: 10%;
  text-align: center;
  line-height: calc(10 * 100vh / 100);
  font-size: 30px;
  font-weight: bold;
}

.news-body {
  height: 90%;
  overflow: scroll;
  width: 90%;
  margin: auto;
}

.news-card {
  margin-bottom: 10px;
}

.news-card-title {
  font-size: 20px;
  font-weight: bold;
}

.news-card-body {
  background: #ffffff;
}
